*{
	margin:0;
	padding:0;
}
.left{
	width: 200px;
	height:500px;
	background:#7FF;
	position: absolute;
	left: 0;
	top:0;
}
.middle{
	height:500px;
	background:#ddd;
	margin: 0 300px 0 200px;
}
.right{
	width:300px;
	height:500px;
	background: #9dd;
	position: absolute;
	right: 0;
	top: 0;
}